<div class="container p-4">
      <div class="row">
          <div class="col-md-4 mx-auto">
              <div class="card ">
                  <div class="card-body">
                     <form action="/cajamayor/add_cajamayor" method="POST">
                        <div class="form-group">
                          <input type="text" class="form-control" name="cja_fecha" placeholder="Fecha" >
                       </div>
                       <div class="form-group">
                          <input type="text" class="form-control" name="cja_Beneficiario" placeholder="Beneficiario" >
                       </div>
                        <div class="form-group">
                          <input type="text" class="form-control" name="cja_concepto" placeholder="Concepto" >
                       </div>
                       <div class="form-group">
                          <input type="text" class="form-control" name="cja_tipo" placeholder="Tipo" >
                       </div>
                       <div class="form-group">
                          <input type="text" class="form-control" name="cja_valor" placeholder="Valor" >
                       </div>
                        <div class="form-group">
                          <input type="text" class="form-control" name="cja_estado" placeholder="Estado" >
                       <div class="form-group">
                           <button class="btn btn-success btn-block">Guardar</button>
                       </div>
                     </form>
                  </div>
              </div>
          </div>
      </div>
</div>