<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenidos {{user.ROL_NOMBRE}}</h3>
                    <H4>{{user.ROL_APELLIDO}}</H4>
                    <a href="" class="btn btn-primary m-">
                    </a>
                        <br>
                        <br>
                        <h3>Listar</h3>
                            <a href="https://travelred.herokuapp.com/clientes/lista_clientes" class="link-primary">https://travelred.herokuapp.com/clientes/lista_clientes</a>
                            <br>
                            <a href="https://travelred.herokuapp.com/ahorro/lista_ahorros" class="link-primary">https://travelred.herokuapp.com/ahorro/lista_ahorros</a>
                            <br>
                            <a href="https://travelred.herokuapp.com/cuentas/listar_cuentas" class="link-primary">https://travelred.herokuapp.com/cuentas/listar_cuentas</a>
                            <br>
                            <a href="https://travelred.herokuapp.com/grupos/listar_grupos" class="link-primary">https://travelred.herokuapp.com/grupos/listar_grupos</a>
                            <br>
                            <a href="https://travelred.herokuapp.com/tours/listar_tours" class="link-primary">https://travelred.herokuapp.com/tours/listar_tours</a>
                            <br>
                            <a href="https://travelred.herokuapp.com/reservas/listar_reservas" class="link-primary">https://travelred.herokuapp.com/reservas/listar_reservas</a>
                            <br>
                            <a href="https://travelred.herokuapp.com/cajamayor/listar_cajamayor" class="link-primary">https://travelred.herokuapp.com/cajamayor/listar_cajamayor</a>
                            <br>
                            <a href="https://travelred.herokuapp.com/cajamenor/listar_cajamenor" class="link-primary">https://travelred.herokuapp.com/cajamenor/listar_cajamenor</a>
                            <br>
                            <a href="https://travelred.herokuapp.com/devoluciones/listar_devolucion" class="link-primary">https://travelred.herokuapp.com/devoluciones/listar_devolucion</a>
                            <br>


            <br>
            <br>
            <h2>Clientes </h2>
            <h4>listar   :<h4>
            <a href="https://travelred.herokuapp.com/clientes/lista_clientes" class="link-primary">https://travelred.herokuapp.com/clientes/lista_clientes</a>
            <br>
            <h4>Agregar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/clientes/add</p>
            <h4>Eliminar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/clientes/eliminar_cliente/id</p>
            <h4>Editar  :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/clientes/editar_cliente/id</p>
            <br>
            <h2>Ahorros </h2>
            <h4>listar   :<h4>
            <a href="https://travelred.herokuapp.com/ahorro/lista_ahorros" class="link-primary">https://travelred.herokuapp.com/ahorro/lista_ahorros</a>
            <br>
            <h4>Agregar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/ahorro/add_ahorro</p>
            <h4>Eliminar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/ahorro/eliminar_ahorro/id</p>
            <h4>Editar  :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/ahorro/editar_ahorro/id</p>
            <br>
            <h2>Cuentas </h2>
            <h4>listar   :<h4>
            <a href="https://travelred.herokuapp.com/cuentas/listar_cuentas" class="link-primary">https://travelred.herokuapp.com/cuentas/listar_cuentas</a>
            <br>
            <h4>Agregar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/cuentas/add_cuenta</p>
            <h4>Eliminar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/cuentas/eliminar_cuenta/id</p>
            <h4>Editar  :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/cuentas/editar_cuenta/id</p>
            <br>
            <br>
            <h2>Grupos </h2>
            <h4>listar   :<h4>
            <a href="https://travelred.herokuapp.com/grupos/listar_grupos" class="link-primary">https://travelred.herokuapp.com/grupos/listar_grupos</a>
            <br>
            <h4>Agregar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/grupos/add_grupo</p>
            <h4>Eliminar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/grupos/eliminar_grupo/id</p>
            <h4>Editar  :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/grupos/editar_grupo/id</p>
            <br>
            <h2>Tours </h2>
            <h4>listar   :<h4>
            <a href="https://travelred.herokuapp.com/tours/listar_tours" class="link-primary">https://travelred.herokuapp.com/tours/listar_tours</a>
            <br>
            <h4>Agregar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/tours/add_tour</p>
            <h4>Eliminar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/tours/eliminar_tour/id</p>
            <h4>Editar  :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/tours/editar_tour/id</p>
            <br>
            <h2>Reservas </h2>
            <h4>listar   :<h4>
            <a href="https://travelred.herokuapp.com/reservas/listar_reservas" class="link-primary">https://travelred.herokuapp.com/reservas/listar_reservas</a>
            <br>
            <h4>Agregar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/reservas/add_reserva</p>
            <h4>Eliminar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/reservas/eliminar_cliente/id</p>
            <h4>Editar  :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/reservas/editar_cliente/id</p>
            <br>
            <h2>Caja Menor </h2>
            <h4>listar   :<h4>
            <a href="https://travelred.herokuapp.com/cajamenor/listar_cajamenor" class="link-primary">https://travelred.herokuapp.com/cajamenor/listar_cajamenor</a>
            <br>
            <h4>Agregar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/cajamenor/add_cajamenor</p>
            <h4>Eliminar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/cajamenor/eliminar_cajamenor/id</p>
            <h4>Editar  :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/cajamenor/editar_cajamenor/id</p>
            <br>
            <h2>Caja Mayor </h2>
            <h4>listar   :<h4>
            <a href="https://travelred.herokuapp.com/cajamenor/listar_cajamayor" class="link-primary">https://travelred.herokuapp.com/cajamenor/listar_cajamayor</a>
            <br>
            <h4>Agregar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/cajamayor/add_cajamayor</p>
            <h4>Eliminar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/cajamayor/eliminar_cajamayor/id</p>
            <h4>Editar  :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/cajamayor/editar_cajamayor/id</p>
            <br>
            <h2>Devoluciones </h2>
            <h4>listar   :<h4>
            <a href="https://travelred.herokuapp.com/devoluciones/listar_devolucion" class="link-primary">https://travelred.herokuapp.com/devoluciones/listar_devolucion</a>
            <br>
            <h4>Agregar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/devoluciones/add_devolucion</p>
            <h4>Eliminar   :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/devoluciones/eliminar_devolucion/id</p>
            <h4>Editar  :<h4>
            <p class="link-primary">https://travelred.herokuapp.com/devoluciones/editar_devolucion/id</p>


                </div>
            </div>
    </div>
</div>



</div>