<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenidos {{user.ROL_NOMBRE}}</h3>
                    <H4>{{user.ROL_APELLIDO}}</H4>
                    <a href="" class="btn btn-primary m-">
                      Guarda tus links
                    </a>
                </div>
            </div>
        </div>
    </div>



</div>