<div class="container p-4">
      <div class="row">
          <div class="col-md-6 mx-auto">
              <div class="card ">
                  <div class="card-body">
                     <form action="/grupos/add_grupo" method="POST">
                       <div class="form-group">
                          <input type="text" class="form-control" name="grp_valortotal" placeholder="Valor Total" autofocus>
                       </div>
                        <div class="form-group">
                          <input type="text" class="form-control" name="grp_valorsaldo" placeholder="Valor Saldo" >
                       </div>
                       <div class="form-group">
                          <input type="text" class="form-control" name="grp_observacion" placeholder="Observaciones" >
                       <div class="form-group">
                           <button class="btn btn-success btn-block">Guardar</button>
                       </div>
                     </form>
                  </div>
              </div>
          </div>
      </div>
</div>