<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card header">
                    <h3>Registrar Usuario</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                       <div class="form-group">
                          <input type="text" class="form-control" name="ROL_NOMBRE" placeholder="Nombre" autofocus>
                       </div>
                        <div class="form-group">
                          <input type="text" class="form-control" name="ROL_APELLIDO" placeholder="Apellido" >
                       </div>
                       <div class="form-group">
                          <input type="password" class="form-control" name="ROL_PASSWORD" placeholder="password" >
                       </div>
                        <div class="form-group">
                          <input type="text" class="form-control" name="ROL_CELULAR" placeholder="Celular" >
                       </div>
                       <div class="form-group">
                          <input type="text" class="form-control" name="ROL_CORREO" placeholder="Correo" >
                       </div>
                       <div class="form-group">
                          <input type="text" class="form-control" name="ROL_CEDULA" placeholder="Cedula" >
                       </div>
                        <div class="form-group">
                          <input type="text" class="form-control" name="ROL_CARGO" placeholder="Cargo" >
                       </div>
                       <div class="form-group">
                          <input type="number" class="form-control" name="ROL_VALORCOMISION" placeholder="Valor Comision" >
                       </div>
                       <div class="form-group">
                          <button class="btn btn-success btn-block">
                              Registrar
                          </button>
                       </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>